<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LJLTSU エΓホverslΓホ</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <div class="uk-section">
        <div class="uk-child-width-expand uk-text-center uk-grid uk-grid-stack">
            <div class="uk-flex uk-flex-center uk-first-column">
                <div><a href="/index">イジツ文字変換ツール</a></div>
            </div>
        </div>
        <div class="uk-child-width-expand uk-text-center uk-grid uk-grid-stack">
            <form action="/result" method="POST">
                <div class="uk-margin" uk-margin>
                    <input class="uk-input uk-form-width-large" type="text" name="target_str">
                    <button class="uk-button uk-button-primary" type="submit">エΓホvert!!</button>
                </div>
            </form>
        </div>
        <div class="uk-child-width-expand uk-text-center uk-grid uk-grid-stack">
            <div class="uk-flex uk-flex-center" id="result">
                {{ijitsu}}
            </div>
        </div>
    </div>
    <style>
        @font-face {
            font-family: 'Nasu-Bold';
            src: url('Nasu-Bold.ttf') format('truetype');
        }

        div {
            font-family: 'Nasu-Bold', sans-serif;

        }

        #result {
            font-family: 'Nasu-Bold', sans-serif;
            font-size: 50px;
        }
    </style>
</body>

</html>